* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

.main{
  display: flex;
  gap: 2rem;
  padding: 1rem 3rem;

  position: relative;
}

.main button:active{
 scale: 0.95;
}

.fm{
  height: 100vh;
  display: flex;
  align-items: center;
}

.fm form{
  display: flex;
  flex-direction: column;

  gap: 2rem;
  border: 2px solid rgb(177, 177, 248);
  padding: 2rem 4rem;

  border-radius: 5px;

  align-self: center;
}

form h2{
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
  color: cornflowerblue;
}


/* .fm form button{
  padding: 0.7rem;
  border-radius: 1rem;
  border: none;

}

.fm form button:active{
  scale: 0.95;
  border: 2px solid cornflowerblue;
  box-shadow: 0 0 5px cornflowerblue;
} */


.fm form button{
  background: linear-gradient(90deg, #8B5CF6, #6366F1);
  color: white;
  border: none;
  padding: 12px 28px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;

  transition: all 0.1s ease-in-out;
}

.fm form button:hover{
  background: linear-gradient(90deg, #7C3AED, #4F46E5);
}

.fm form button:active{
  scale: 0.95;
  border: 2px solid cornflowerblue;
} 




.fm .in{
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.in input{
  padding: 0.7rem 1rem;
  border-radius: 5px;
  border: 2px solid rgb(81, 81, 81);

  font-size: 1rem;
  outline: none;
  border: none;
}

.in input:focus{
  border: 2px solid cornflowerblue;
  box-shadow: 0 0 5px cornflowerblue;
}


.notes{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  height: 0%;

  gap: 1rem;
  padding: 1rem 3rem;

}

.note{
  background-color: rgb(249, 205, 212);

  color: white;

  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  width: fit-content;
}

.note h4{
  font-size: 1.5rem;
}

.note p{
  font-size: 0.8rem;
}

.note .btns{
  display: flex;
  gap: 1rem;
}

.btns button{
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  border: none;
}

.btns button:active{
  scale: 0.95;
  box-shadow: 0 0 5px rgb(248, 146, 163);
  border: rgb(251, 126, 147);
}



.modal{
  height: 100%;
  width: 100%;

  /* background-color: #333; */

  backdrop-filter: blur(10px);

  position: absolute;
  top: 0;
  left: 0;

  display: none;
}

.edit form{
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 2rem;
  border: 2px solid rgb(142, 199, 243);

  z-index: 2;
}

.edit input{
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  border: 2px solid rgb(142, 199, 243);
  font-size: 1rem;
}

.edit button{
  padding: 0.5rem 2rem;
  background-color: cornflowerblue;
  color: white;
  /* border: 2px solid rgb(142, 199, 243); */
  border: none;

  border-radius: 15px;

  transition: all 0.3s ease-in-out;
}

.modal .back{
  height: 100vh;
  width: 100vw;
  position: absolute;

  top: 0;
  left: 0;

  z-index: 1;
}
