* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;

  background-color: #DDE2E6;
}

input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
}

.main{
  display: flex;
  gap: 2rem;
  padding: 2rem 1rem;

  position: relative;
  flex-grow: 1;

}

.make{
  border: 1px solid black;
  box-shadow: 0 0 5px #333;

  padding: 0.5rem;
  border-radius: 5px;

  font-size: 1.5rem;

  position: absolute;
  top: 40px;
  left: 20px;

  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

i:active{
  scale: 0.95;
}

.main button:active{
 scale: 0.95;
}

.fm{
  position: absolute;

  left: -50%;
  /* left: 0%; */

  /* position: relative; */
  display: flex;

  top: 0%;

  z-index: 5;

  align-self: flex-start;

  transition: all 0.2s ease-in-out;

}

.fm form{
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
  border: 2px solid rgb(177, 177, 248);
  padding: 1rem 1.5rem;

  border-radius: 15px;

  align-self: flex-start;

  backdrop-filter: blur(55px);

  position: relative;
}

.fm form i{
  position: absolute;
  top: -6px;
  right: -6px;

  cursor: pointer;

  font-size: 1.4rem;

  color: cornflowerblue;

  backdrop-filter: blur(55px);
  background-color: #DDE2E6;

  border-radius: 50%;
}

form h2{
  text-align: start;
  font-size: 1.7rem;
  font-weight: 500;
  color: cornflowerblue;
}


.fm form button{
  background: linear-gradient(90deg, #8B5CF6, #6366F1);
  color: white;
  border: none;
  padding: 12px 30px;
  border-radius: 12px 15px;
  font-weight: 600;
  cursor: pointer;

  transition: all 0.1s ease-in-out;

  width: fit-content;
  align-self: flex-end;
}

.fm form button:hover{
  background: linear-gradient(90deg, #7C3AED, #4F46E5);
}

.fm form button:active{
  scale: 0.95;
  border: 2px solid cornflowerblue;
} 




.fm .in{
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.in input{
  padding: 0.5rem 0.8rem;
  border-radius: 5px;

  width: 12rem;

  font-size: 1rem;
  outline: none;
  border: none;

  background-color: #DDE2E6;
}

.in input:focus{
  border: 2px solid cornflowerblue;
  box-shadow: 0 0 5px cornflowerblue;
}

.in input:hover{
  /* border: 2px solid cornflowerblue; */
  box-shadow: 0 0 5px cornflowerblue;
}


.notes{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  height: 0%;

  gap: 3rem;
  padding: 1rem 5rem;
  padding-left: 7rem;

}

.note{
  background-color: #DDE2E6;

  color: #6a6a6a;

  display: flex;
  /* flex-direction: column; */

  width: fit-content;

  box-shadow: 0 0 10px #333;

  overflow: hidden;

  border-radius: 1rem;

  max-width: 350px;
  overflow: auto;
}

.note::-webkit-scrollbar{
  display: none;
}

.note .td{
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 1rem;
  flex-grow: 1;
}

.td .content{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-bottom: 1rem;

  height: 110px;
}

.td .content p{
  font-size: 0.9rem;
  color: #6a6a6a;
}

.note .num{
  display: flex;
  flex-direction: column;

  margin-block: 0.1rem;
  margin-right: 0.2rem;

  border-radius: 0 15px 15px 0;
}

.note .num h5{
  text-align: center;
  font-size: 1.7rem;

  padding: 0.5rem 0.8rem;
  color: rgb(219, 213, 213);
}

.num .dn{
  height: 80%;

  border-radius: 0 0 15px 0;
}

.note h4{
  font-size: 2rem;
}

.note p{
  font-size: 1rem;
}

.note .btns{
  display: flex;
  gap: 1rem;
}

.btns button{
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  border: none;

  transition: all 0.1s cubic-bezier(0.755, 0.05, 0.855, 0.06);

  color: #6a6a6a;

  box-shadow: 0 0 20px #c4c2c2;

  background-color: #edededc9;
}

.btns button:active{
  scale: 0.95;
  box-shadow: 0 0 5px rgb(248, 146, 163);
  border: rgb(251, 126, 147);
}



.modal{
  height: 100%;
  width: 100%;

  backdrop-filter: blur(10px);

  position: absolute;
  top: 0;
  left: 0;

  display: none;
}

.edit form{
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  padding: 1.5rem 1rem;
  border: 2px solid rgb(142, 199, 243);

  z-index: 2;

  background-color: #DDE2E6;

  border-radius: 15px;
}


.edit form h2{
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(107, 146, 220);
}

.edit input{
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  font-size: 1rem;
  border: none;
  outline: none;

  width: 14rem;
}

.edit input:focus{
  border: 2px solid cornflowerblue;
  box-shadow: 0 0 5px cornflowerblue;
}

.edit input:hover{
  box-shadow: 0 0 5px cornflowerblue;
}

.edit button{
  padding: 0.5rem 2rem;
  background-color: rgb(59, 121, 238);
  color: white;
  border: none;

  border-radius: 15px;

  transition: all 0.3s ease-in-out;

  width: fit-content;

  align-self: flex-end;
}

.modal .back{
  height: 100vh;
  width: 100vw;
  position: absolute;

  top: 0;
  left: 0;

  z-index: 1;
}
